{
  "install": "install": "npm i -D eslint eslint-config-standard eslint-plugin-babel eslint-plugin-promise eslint-plugin-standard babel-eslint",
  "extends": ["standard"],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "brace-style": ["error", "stroustrup"],
    "comma-dangle": ["error", "only-multiline"],
    "curly": ["error", "all"]
  }
}
